<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.appinfosdk">

    <!--for the internet access-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--for the get wifi mac id and ssid-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--for the device lock handel-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--for the getting location-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".utils.MyLocationService"/>
    </application>

</manifest>
